@import "./../../styles/var";

.tabs_container {
  position: relative;
}

.tab_header_container {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: sticky;
  background: $color;
  border-bottom: 1PX solid #ececec;
}

.tab_header_content {
  display: flex;
}

.tab_header_item {
  flex: 1;
  color: rgba(255, 255, 255, .7);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.tab_selected {
  color: rgba(255, 255, 255, 1);
}

.tab_indicator {
  left: 0;
  right: 0;
  bottom: 0;
  height: 3PX;
  z-index: 10;
  position: absolute;

  .indicator {
    height: 100%;
    transition: transform .3s ease;
  }

  .indicator_scroll {
    width: 64%;
    height: 100%;
    margin: auto;
    background-color: #fff;
  }
}

.tabs_content {
  overflow: hidden;
}

.tabs_content_scroll {
  overflow: hidden;
  position: relative;
  display: flex;
  transition: transform .3s ease;
}

.tabs_content_item {
  width: 100vw;
}

.tab_item_hide {
  height: 100vh;
  overflow: hidden;
  visibility: hidden;
}
