@import "./var";
.container {
  width: 100%;
}

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  height: 100%;
}

.page_container {
  width: 100%;
}

.header {
  padding: 32px;
  background-color: #fff;
  border-bottom: 10PX solid #f2f2f2;
}

.header_content {
  display: flex;
  margin-bottom: 16PX;
  align-items: center;
}

.title {
  color: #333;
  font-weight: 500;
  font-size: 14px * 2;
}

.header_right {
  flex: 1;
  color: #999;
  font-size: 12PX;
  margin-left: 6PX;
}

.desc_content {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 12px;
  border-bottom: 10PX solid #f2f2f2;
}

.user_name {
  color: #444;
  font-size: 14PX;
  margin-bottom: 4PX;
}

.update_time {
  color: #999;
  font-size: 10PX;
}

.visit_count {
  color: #999;
  font-size: 10PX;
}

.replies_header {
  left: 0;
  right: 0;
  top: 0;
  font-size: 28px;
  color: #fff;
  position: sticky;
  padding: 24px 32px;
  background-color: $color;
}

.replies_content {
  width: 100%;
}

.reply_item {
  display: flex;
  padding: 16PX;
  border-bottom: 1PX solid #f2f2f2;
}

.reply_content {
  flex: 1;
  overflow: hidden;
}

.reply_user_content {
  padding-left: 30px;
  margin-bottom: 10px;
}

.reply_user_name {
  font-size: 14PX;
  color: #444;
  margin-bottom: 6PX;
}


.reply_create {
  font-size: 10PX;
  color: #999;
}
