@import "./var";

$button_height:44PX;

.page_view {
  padding: 30PX 20PX 0 20PX;
}

.logo_icon {
  width: 140PX;
  height: 60PX;
  display: block;
  margin: 0 auto 30PX auto;
}

.input_view {
  padding: 10PX 0;
  border-bottom: 1px solid #ececec;
}

.submit_button {
  color: $color;
  font-size: 16PX;
  margin-bottom: 18PX;
  border-radius: 4PX;
  text-align: center;
  height: $button_height;
  line-height: $button_height;
  border: 1px solid $color;
  transition: all .2s ease;

  &:active {
    color: #fff;
    background-color: $color;
  }
}

.buttons {
   padding-top: 36PX;
}

.desc_text {
  color: #999;
  font-size: 12PX;
  line-height: 21PX;
  padding-top: 10PX;
}
