@import "./var";

.page_view {
  padding-bottom: 56PX;
}

.page_container {
  padding: 0;
}

.header_container {
  height: 200PX;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./../static/bg.png");
}

.header_content {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.user_name {
  color: #fff;
  font-size: 16PX;
  margin-top: 10PX;
}

.loading_content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_content_inner {
  background-color: #f2f2f2;
}

.login_out {
  top: 0;
  right: 0;
  z-index: 10;
  position: absolute;
  padding: 16PX 16PX 4PX 16PX;
}

.login_out_button {
  width: 28PX;
  height: 28PX;
}
