view {
  box-sizing: border-box;
}

@import "~taro-ui/dist/style/components/avatar.scss";
@import "~taro-ui/dist/style/components/nav-bar.scss";
@import "~taro-ui/dist/style/components/icon.scss";

//loading
@import '~taro-ui/dist/style/components/loading.scss';
@import "~taro-ui/dist/style/components/activity-indicator.scss";

@import '~taro-parse/dist/style/main.scss';

@import "~taro-ui/dist/style/components/drawer.scss";

.h2w {
  color: #101010;
  font-family: '';
  font-size: 15PX;
}

.h2w__p {
  color: #343434;
  font-size: 14PX;
  img {
    display: block;
    padding-top: 10PX;
  }
}

.h2w__img {
  border-radius: 12px;
  width: 100% !important;
}

.h2w__main {
  padding-top: 0;
}

.h2w-light .h2w__a {
  color: #4078c0;
  border-color: #4078c0;
}

.loading {
  color: #999 !important;
  font-size: 14PX !important;
  padding: 20px 0 !important;
}

.pullDownBlock {
  font-size: 14PX;
  color: #999 !important;
}

.avatar_style_circle {
  width: 24PX !important;
  height: 24PX !important;
  line-height: 24PX !important;
  border-radius: 12PX !important;
}
